@using Budovy.Controllers.Budovy.objects
@model Budovy.Models.AddModels.AddRoomModel

@{
    Layout = "_Layout";
}
<div>
    <div class="display d-flex">
        <form asp-controller="Detail" asp-action="EditPost">
            <input type="text" name="Name" value="@ViewData["buildingName"]" asp-for="Name">
            <input type="text" name="Desc" value="@ViewData["buildingDesc"]" asp-for="Desc">
            <input type="hidden" name="Id" value="@ViewData["buildingId"]" asp-for="ParentId">
            <input type="submit" value="Edit building" class="btn-primary"/>
        </form>
        <form asp-controller="Detail" asp-action="RemoveBuilding" class="ps-3">
            <input type="hidden" name="Name" value="@ViewData["buildingName"]" asp-for="Name"/>
            <input type="hidden" name="ParentId" value="@ViewData["buildingId"]" asp-for="ParentId"/>
            <input type="submit" value="Remove this building" class="btn-danger"/>
        </form>
    </div>
    <form asp-controller="Detail" asp-action="AddRoom">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" name="Name"/>
        <input type="hidden" name="ParentId" asp-for="ParentId" value="@ViewData["buildingId"]"/>
        <input type="submit" value="Add room" class="btn-primary"/>
    </form>
    @{
        <h1>Rooms:</h1>
        foreach (var room in (ViewData["roomList"] as IList<Room>)!)
        {
            <div class="border-bottom d-inline">
                <form>
                    <h3>@room.Name</h3>
                    <input type="hidden" name="id" value="@room.Id"/>
                    <a type="submit" class="btn-primary" asp-route-id="@room.Id" asp-controller="Detail" asp-action="RoomDetail">Select</a>
                </form>
            </div>
        }
    }
</div>