@using Budovy.Controllers.Budovy.objects
@model Budovy.Models.AddModels.AddRoomModel

@{
    Layout = "_Layout";
}
<div>
    <div class="display d-flex">
        <form asp-controller="Detail" asp-action="EditRoom">
            <input type="text" name="Name" value="@ViewData["roomName"]" asp-for="Name">
            <input type="hidden" name="ParentId" value="@ViewData["roomParentId"]" asp-for="ParentId"/>
            <input type="hidden" name="Id" value="@ViewData["roomId"]" asp-for="Id">
            <input type="submit" value="Edit building" class="btn-primary"/>
        </form>
        <form asp-controller="Detail" asp-action="RemoveRoom" class="ps-3">
            <input type="hidden" name="Name" value="@ViewData["roomName"]" asp-for="Name"/>
            <input type="hidden" name="Id" value="@ViewData["roomId"]" asp-for="Id"/>
            <input type="submit" value="Remove this room" class="btn-danger"/>
        </form>
    </div>
    <form asp-controller="Detail" asp-action="AddReservation">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" name="Name"/>
        <label asp-for="Start">Start</label>
        <input asp-for="Start" type="date" name="Start"/>
        <label asp-for="End">End</label>
        <input asp-for="End" type="date" name="End"/>
        <input asp-for="ParentId" type="hidden" value="@ViewData["roomId"]" name="ParentId"/>
        <input type="hidden" name="ParentId" asp-for="ParentId" value="@ViewData["buildingId"]"/>
        <input type="submit" value="Add room" class="btn-primary"/>
    </form>
    @{
        <p>@ViewData["roomId"]</p>
        <h1>Reservations:</h1>
        foreach (var timeSchedule in (ViewData["timeList"] as IList<TimeReservations>)!)
        {
            <div class="border-bottom d-inline">
                <h3>@timeSchedule.Name</h3>
                <p>From: @timeSchedule.Start</p>
                <p>To: @timeSchedule.End</p>
                <input type="hidden" name="id" value="@timeSchedule.Id"/>
                <form asp-controller="Detail" asp-action="RemoveReservation">
                    <input asp-for="Id" type="hidden" name="Id" value="@timeSchedule.Id"/>
                    <input type="submit" value="Remove reservation" class="btn-danger"/>
                </form>
            </div>
        }
    }
</div>